config.properties
*key.txt
*secret.txt
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytest
.cache/
.pytest_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*.terraform.lock.hcl

# Docker
*.pid
*.sock
Dockerfile~

# System files
.DS_Store
Thumbs.db

# Secrets (if applicable)
*.env
.envrc
